<a href="https://colab.research.google.com/github/Abhilashvadukari/1227pythonds/blob/main/lab06codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
data={
    "Name":["Ravi",
            "Neha","Kiran","sita"],
  "Age":[24,np.nan,30,28],
    "Marks":[85,90,np.nan,92]
}
df=pd.DataFrame(data)
print(df)
print("check for missing values")
print(df.isnull())
'''print("fill missing values")
df.fillna(0,inplace=True)
print(df)'''

    Name   Age  Marks
0   Ravi  24.0   85.0
1   Neha   NaN   90.0
2  Kiran  30.0    NaN
3   sita  28.0   92.0
check for missing values
    Name    Age  Marks
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False

'print("fill missing values")\ndf.fillna(0,inplace=True)\nprint(df)'

In [3]:
dropped=df.dropna()
print("After dropped")
print(dropped)

After dropped
   Name   Age  Marks
0  Ravi  24.0   85.0
3  sita  28.0   92.0

In [6]:
df=df.fillna(0)
print("filled with 0")
print(df)

filled with 0
    Name   Age  Marks
0   Ravi  24.0   85.0
1   Neha   0.0   90.0
2  Kiran  30.0    0.0
3   sita  28.0   92.0

In [10]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
print(df)

    Name   Age  Marks
0   Ravi  24.0   85.0
1   Neha   0.0   90.0
2  Kiran  30.0    0.0
3   sita  28.0   92.0

In [13]:
#df=pd.dataframe(data)
#print(df)
df_no=df.drop_duplicates()
print("after dropping duplicates")
print(df_no)

after dropping duplicates
    Name   Age  Marks
0   Ravi  24.0   85.0
1   Neha   0.0   90.0
2  Kiran  30.0    0.0
3   sita  28.0   92.0

In [15]:
#df['D']=pd.to_numeric(df['D'])
df['Age']=pd.to_numeric(df['Age'])
print(df.dtypes)

Name      object
Age      float64
Marks    float64
dtype: object

In [17]:
df["Marks"]=df["Marks"].apply(lambda x: x+5)
print("after applying lambda function")
print(df)

after applying lambda function
    Name   Age  Marks
0   Ravi  24.0   90.0
1   Neha   0.0   95.0
2  Kiran  30.0    5.0
3   sita  28.0   97.0

In [18]:
df["Marks_Normalize"]=(df["Marks"]-df["Marks"].min())/(df["Marks"].max()-df["Marks"].min())
print(df)

    Name   Age  Marks  Marks_Normalize
0   Ravi  24.0   90.0         0.923913
1   Neha   0.0   95.0         0.978261
2  Kiran  30.0    5.0         0.000000
3   sita  28.0   97.0         1.000000