<a href="https://colab.research.google.com/github/Abhilashvadukari/1227pythonds/blob/main/lab03classprms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
fp=open("myexample.txt","w")
fp.write("batch1 to 6")
fp.write(  " cse\n")
fp.write(  "  sr university")
fp.close()
print("data  written succeesfully")

data  written succeesfully

In [37]:
fp=open("myexample.txt","r")
content=fp.read()
print("file tech",content)
fp.close()

file tech batch1 to 6 cse
  sr university

In [38]:
fp=open("myexample.txt","r")
line1=fp.readline()
#line2=fp.readline()
print("we have only one  line\n ",line1)

fp.close()

we have only one  line
  batch1 to 6 cse

In [39]:
fp=open("myexample.txt","r")
line1=fp.readlines()
line2=fp.readlines()
print("all lines",line1,line2)

all lines ['batch1 to 6 cse\n', '  sr university'] []

In [40]:
fp=open("myexample.txt","a")
text=fp.write("   students result")
print("data  written succeesfully")
fp.close()

data  written succeesfully

In [41]:
with open("myexample.txt","r") as fp:
    content=fp.read()
    print(content)

batch1 to 6 cse
  sr university   students result

In [43]:
import csv
with open("sales.csv","w",newline="")as fp:
  text=csv.writer(fp)
  text.writerow(["name","Age","gender"])
  text.writerow(["Abhi","23","male"])
  text.writerow(["anoop","20","female"])
  print(text)

<_csv.writer object at 0x7a51d2a0fa00>

In [44]:
with open("sales.csv","r")as fp:
  data=csv.reader(fp)
  for row in data:
    print(row)

['name', 'Age', 'gender']
['Abhi', '23', 'male']
['anoop', '20', 'female']