<a href="https://colab.research.google.com/github/Abhilashvadukari/1227pythonds/blob/main/lab5assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

products = pd.DataFrame({
    "product_id": [1, 2, 3, 4],
    "product_name": ["Laptop", "Mouse", "Keyboard", "Monitor"],
    "category": ["Electronics", "Accessories", "Accessories", "Electronics"],
    "price": [60000, 500, 1500, 12000]
})

sales = pd.DataFrame({
    "sale_id": [101, 102, 103, 104, 105, 106],
    "product_id": [1, 2, 2, 3, 4, 4],
    "quantity": [5, 20, 15, 10, 8, 12]
})

inner_merge = pd.merge(sales, products, on="product_id", how="inner")
outer_merge = pd.merge(sales, products, on="product_id", how="outer")

print("INNER MERGE RESULT:\n", inner_merge, "\n")
print("OUTER MERGE RESULT:\n", outer_merge, "\n")

inner_merge["revenue"] = inner_merge["quantity"] * inner_merge["price"]
total_revenue = inner_merge["revenue"].sum()
avg_price = products["price"].mean()
product_sales = inner_merge.groupby("product_name")["revenue"].sum().reset_index()
category_sales = inner_merge.groupby("category")["revenue"].sum().reset_index()
best_category = category_sales.loc[category_sales["revenue"].idxmax()]

print("TOTAL REVENUE:", total_revenue)
print("AVERAGE PRODUCT PRICE:", avg_price, "\n")
print("PRODUCT-WISE SALES:\n", product_sales, "\n")
print("CATEGORY-WISE SALES:\n", category_sales, "\n")
print("BEST-SELLING CATEGORY:\n", best_category, "\n")

print("KEY INSIGHTS:")
print(f"- The business generated total revenue of ₹{total_revenue}.")
print(f"- Average product price is ₹{avg_price:.2f}.")
print(f"- The best-selling category is '{best_category['category']}' contributing ₹{best_category['revenue']} in revenue.")

INNER MERGE RESULT:
    sale_id  product_id  quantity product_name     category  price
0      101           1         5       Laptop  Electronics  60000
1      102           2        20        Mouse  Accessories    500
2      103           2        15        Mouse  Accessories    500
3      104           3        10     Keyboard  Accessories   1500
4      105           4         8      Monitor  Electronics  12000
5      106           4        12      Monitor  Electronics  12000

OUTER MERGE RESULT:
    sale_id  product_id  quantity product_name     category  price
0      101           1         5       Laptop  Electronics  60000
1      102           2        20        Mouse  Accessories    500
2      103           2        15        Mouse  Accessories    500
3      104           3        10     Keyboard  Accessories   1500
4      105           4         8      Monitor  Electronics  12000
5      106           4        12      Monitor  Electronics  12000

TOTAL REVENUE: 572500
AVERAGE PRODUCT PRICE: 18500.0

PRODUCT-WISE SALES:
   product_name  revenue
0     Keyboard    15000
1       Laptop   300000
2      Monitor   240000
3        Mouse    17500

CATEGORY-WISE SALES:
       category  revenue
0  Accessories    32500
1  Electronics   540000

BEST-SELLING CATEGORY:
 category    Electronics
revenue          540000
Name: 1, dtype: object

KEY INSIGHTS:
- The business generated total revenue of ₹572500.
- Average product price is ₹18500.00.
- The best-selling category is 'Electronics' contributing ₹540000 in revenue.

In [2]:
import pandas as pd

teachers = pd.DataFrame({
    "teacher_id": [1, 2, 3, 4],
    "teacher_name": ["Alice", "Bob", "Charlie", "Diana"],
    "department": ["Math", "CS", "CS", "Physics"]
})

courses = pd.DataFrame({
    "course_id": [101, 102, 103, 104, 105, 106, 107],
    "course_name": ["Algebra", "Programming", "Data Structures", "Algorithms", "Quantum Physics", "Calculus", "AI"],
    "teacher_id": [1, 2, 2, 2, 4, 1, 3]
})

inner_merge = pd.merge(courses, teachers, on="teacher_id", how="inner")
left_merge = pd.merge(courses, teachers, on="teacher_id", how="left")

print("INNER MERGE RESULT:\n", inner_merge, "\n")
print("LEFT MERGE RESULT:\n", left_merge, "\n")

course_count = inner_merge.groupby("teacher_name")["course_id"].count().reset_index(name="num_courses")
avg_courses_per_teacher = course_count["num_courses"].mean()

dept_workload = inner_merge.groupby("department")["course_id"].count().reset_index(name="total_courses")
heaviest_dept = dept_workload.loc[dept_workload["total_courses"].idxmax()]

print("COURSES PER TEACHER:\n", course_count, "\n")
print("AVERAGE COURSES PER TEACHER:", avg_courses_per_teacher, "\n")
print("DEPARTMENT-WISE WORKLOAD:\n", dept_workload, "\n")
print("DEPARTMENT WITH HEAVIEST WORKLOAD:\n", heaviest_dept, "\n")

print("KEY INSIGHTS:")
print(f"- Average courses per teacher: {avg_courses_per_teacher:.2f}")
print(f"- Department '{heaviest_dept['department']}' has the heaviest workload with {heaviest_dept['total_courses']} courses.")

INNER MERGE RESULT:
    course_id      course_name  teacher_id teacher_name department
0        101          Algebra           1        Alice       Math
1        102      Programming           2          Bob         CS
2        103  Data Structures           2          Bob         CS
3        104       Algorithms           2          Bob         CS
4        105  Quantum Physics           4        Diana    Physics
5        106         Calculus           1        Alice       Math
6        107               AI           3      Charlie         CS

LEFT MERGE RESULT:
    course_id      course_name  teacher_id teacher_name department
0        101          Algebra           1        Alice       Math
1        102      Programming           2          Bob         CS
2        103  Data Structures           2          Bob         CS
3        104       Algorithms           2          Bob         CS
4        105  Quantum Physics           4        Diana    Physics
5        106         Calculus           1        Alice       Math
6        107               AI           3      Charlie         CS

COURSES PER TEACHER:
   teacher_name  num_courses
0        Alice            2
1          Bob            3
2      Charlie            1
3        Diana            1

AVERAGE COURSES PER TEACHER: 1.75

DEPARTMENT-WISE WORKLOAD:
   department  total_courses
0         CS              4
1       Math              2
2    Physics              1

DEPARTMENT WITH HEAVIEST WORKLOAD:
 department       CS
total_courses     4
Name: 0, dtype: object

KEY INSIGHTS:
- Average courses per teacher: 1.75
- Department 'CS' has the heaviest workload with 4 courses.