<a href="https://colab.research.google.com/github/Abhilashvadukari/1227pythonds/blob/main/labprogrms02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list =[12,34,56,77]
list.append(29)
print(list)
list.pop()
print(list)
list.insert(2,25)
print(list)
list.remove(34)
print(list)

[12, 34, 56, 77, 29]
[12, 34, 56, 77]
[12, 34, 25, 56, 77]
[12, 25, 56, 77]

In [ ]:
l=["cse","abhi","anoop"]
#l.insert(2,25)

#print(l)
l.sort()
print(l)
l.reverse()
print(l)

for i in l:
  print(i)
if "cse" in l:
  print("cse is present")
else:
  print("cse is not present")

['abhi', 'anoop', 'cse']
['cse', 'anoop', 'abhi']
cse
anoop
abhi
cse is present

In [ ]:
l=[1,3,445,32,23]
l.sort()
print(l)
l.reverse()
print(l)
print(max(l))
print(min(l))
print(sum(l))
print(l[0:3])

[1, 3, 23, 32, 445]
[445, 32, 23, 3, 1]
445
1
504
[445, 32, 23]

In [ ]:
l=[1,9.9,"cse"]
print(l)
for i in l:
  print(type(i),i)

[1, 9.9, 'cse']
<class 'int'> 1
<class 'float'> 9.9
<class 'str'> cse

In [ ]:
l=[1,22,3,3,3,4]
print(l)

[1, 22, 3, 3, 3, 4]

In [ ]:
student=[[10,20,30],[20,30,40],[12,23,45],[45,67,89],[12,65,66]]
print(student)

[[10, 20, 30], [20, 30, 40], [12, 23, 45], [45, 67, 89], [12, 65, 66]]

In [ ]:
t=(10,20,30)
print(t)
t1=("cse",90,1)
print(l)
for i in t1:
  print(i)
if "cse" in t1:
  print("cse is present")
else:
  print("cse is not present")
for i in t1:
  print(type(i),(1))

(10, 20, 30)
[1, 22, 3, 3, 3, 4]
cse
90
1
cse is present
<class 'str'> 1
<class 'int'> 1
<class 'int'> 1

In [ ]:
t=(10,20,30,30,30)
print(t.count(30))
print(t)
print(t.index(30))

3
(10, 20, 30, 30, 30)
2

In [ ]:
t=(10,20,30,40)
myt=tuple(l)
print(myt)

(1, 22, 3, 3, 3, 4)

In [ ]:
student={"name":"cse","batch":"01","college":"sru"}
print(student.keys())
print(student.values())
print(student.items())
print(student["name"])
print(student.get("college"))
for key,value in student.items():
  print(key,":",value)
student["college"]="Kits"
print(student)
student["branch"]="ece"
print(student)
del student["branch"]
print(student)
if "name" in student.items():
  print("name is present")
else:
  print("name is not present")

dict_keys(['name', 'batch', 'college'])
dict_values(['cse', '01', 'sru'])
dict_items([('name', 'cse'), ('batch', '01'), ('college', 'sru')])
cse
sru
name : cse
batch : 01
college : sru
{'name': 'cse', 'batch': '01', 'college': 'Kits'}
{'name': 'cse', 'batch': '01', 'college': 'Kits', 'branch': 'ece'}
{'name': 'cse', 'batch': '01', 'college': 'Kits'}
name is not present

In [ ]:
student={'1':{"name":"cse","marks":"unknown"},
         '2':{"name":"ece","marks":"unknown"}}
print(student.items())
print(student['2']['name'])

dict_items([('1', {'name': 'cse', 'marks': 'unknown'}), ('2', {'name': 'ece', 'marks': 'unknown'})])
ece

In [ ]:
student={"name":"cse","marks":"unknown","brnch":"cse"}
print(student)

{'name': 'cse', 'marks': 'unknown', 'brnch': 'cse'}

In [ ]:
s={1,2,3,3,4,5}
print(s)
s.add(6)
print(s)
s.remove(5)
print(s)
for i in s:
  print(i)
if '2' in s:
  print("s")
else:
  print("no")

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 6}
1
2
3
4
6
no

In [ ]:
A={1,2,3,4}
B={4,5,6,7}
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 7}
{4}
{1, 2, 3}
{1, 2, 3, 5, 6, 7}